/* PokemonList.css */

.pokemon-card-container {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}

.loading-message {
  font-size: 18px;
  color: #555;
}

.pokemon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pokemon-card {
  margin: 20px;
  padding: 20px;
  background-color: #71eca6;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  width: 200px; /* Adjust the width as needed */
  height: 250px; /* Adjust the height as needed */
}

.pokemon-card:hover {
  transform: scale(1.05);
}

/* Add animation if you want */
.pokemon-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

/* PokemonList.css */

/* ... (your existing styles) ... */

.controls button {
  padding: 1rem;
  padding-left: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 0 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Add transition for smooth effect */
}

.controls button:hover {
  background-color: #020a14;
  transform: scale(1.05); /* Scale on hover */
}

.controls button:disabled{
  background-color: red;
}
.controls button:active {
  transform: scale(0.95); /* Scale when pressed */
}
