/* Search.css */

    .Search-Wrapper
    {
        
    margin: 0 auto;
    }
  
  
  #pokemon-name-search {
    width: 300px;
    margin-top: 2rem;
    padding: 1rem;
    border: 2px solid #3498db;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease-in-out;
  }
  
  #pokemon-name-search::placeholder {
    color: #bdc3c7;
  }
  
  #pokemon-name-search:focus {
    border-color: #2ecc71;
  }
  